.about-container {
    color: white;
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-top: 5rem;
}

.grid-container {
    display: flex;
    flex-direction: column;
    size: auto;
    position: relative;
    margin-top: 4rem;
}

.collage img {
    width: auto;
    height: auto;
}

.Main-title {
    font-size: 4rem;
}

.subtitle {
    font-size: 3rem;
}

.text {
    font-size: 2rem;
}

.text-box-1 {
box-sizing: border-box;
padding: 20px 100px;
}

.text-box-2 { 
    box-sizing: border-box;
    padding: 0px 100px; 
}

@media only screen and (min-width:962px){
    .img1 {
    width: 450px;
    position: absolute;
    right: 0;
    bottom: 0;
    }
    .img2 {
        display: none;
    }
}
 
@media only screen and (max-width:961px){ 
    .collage {
        display: none;
    }
    .about-container {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-top: 14rem;
    }
    .img1 {
        display: none;
    }
    .img2 {
        max-width: 100%;
        
    }
    .text-box-1,
    .text-box-2 {
        padding: 20px 40px;
    }
    .text-box-3 {
        display: flex;
        justify-content: center;
        padding: 0 10rem;
    }
}

