.about-container {
    color: white;
    display: flex;
    margin-top: 5rem;
}

.grid-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 4rem;
}

.text-box-1,
.text-box-2 {
box-sizing: border-box;
padding: 2rem 15rem;
}

.Main-title {
    font-size: 4rem;
}

.text {
    font-size: 2rem;
}

.subtitle {
    font-size: 3rem;
}

@media only screen and (min-width:962px){
    .img1 {
    width: 450px;
    position: absolute;
    right: 0;
    bottom: 0;
    }
    .img2 {
        display: none;
    }
}
 
@media only screen and (max-width:961px){ 
    .collage {
        display: none;
    }
    .about-container {
        margin-top: 14rem;
    }
    .img1 {
        display: none;
    }
    .img2 {
        max-width: 100%;
        
    }
    .text-box-1,
    .text-box-2 {
        padding: 2rem 5rem;
    }
    .text-box-3 {
        padding: 0 10rem;
    }
}

