.checkout_success-container {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 15rem 0 15rem 0;
}

.dialog,
.dialog2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 1rem 4rem;
}

.dialog {
    width: 80rem;
    height: fit-content;
    background-color: #e4dad324;
    border-radius: 0.5rem;
    box-sizing: border-box;
    text-align: center;
    overflow: auto;
}

.dialog2 {
    width: 50%;
    height: fit-content;
    background-color: #f4f4f462;
    border-radius: 0.5rem;
    position: relative;
}

.dialog2 p {
    align-self: self-end;
}

.dialog2-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dialog2 img {
    height: 12rem;
}

hr {
    border-color: #a14405;
    width: 100%;
}

h2 {
    font-size: 2rem;
}

@media only screen and (max-width: 960px) {
    .checkout_success-container {
        padding: 12rem 0 12rem 0;
    }

    .dialog {
        width: 85%;
        padding: 0;
    }

    .dialog2-flex {
        flex-direction: column;
        align-items: center;
    }

    .dialog2 p {
        align-self: center;
    }
}
