.checkout-container {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 100vh;
    margin: 11rem 0;
    align-items: center;
}

.dialog {
    width: 50%;
    background-color: #E4DAD324;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 1rem 4rem;
}

.dialog-content {
    display: flex;
    flex-direction: column;
}

h1 {
    align-self: center;
}

.price {
    align-self: self-end;
}

.border {
  border-bottom: 1px solid #A14405;  
} 

.elvis {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 2rem 2rem;
}

.movie-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.elvis img {
    width: 12rem;
}

.subtotal {
    text-align: right;
    margin-bottom: 3rem;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.checkout-form a {
    align-self: flex-end;
    width: 7.5rem;
}

.btn-remove {
    width: 12rem;
}
  
.btn , input[type=button] {
    background-color: #A14405;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    font-family: 'raleway', sans-serif;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
}

h2 {
    font-size: 2rem;
}

.checkout_empty-container {
    color: white;
    width: 100%;
    height: 100vh;
    text-align: center;
    margin-top: 16rem;
}
   
@media only screen and (max-width:960px){
    .dialog {
        width: 90%;
    }

    .elvis {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .price1,
    .subtotal {
        align-self: center;
    }

    .price {
        display: none;
    }

    .title {
        position: initial;
    }
}