.checkout-success-container {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 100%;
    margin: 11rem 0rem;
    align-items: center;
}

.dialog {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: #E4DAD324;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 40px;
    position: relative;
    text-align: center;
    overflow: auto;
}

.dialog2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    height:fit-content;
    background-color: #F4F4F462;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 40px;
    position: relative;
}

.dialog2 p {
    align-self: self-end;
}

.dialog2-flex {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}

.dialog2 img {
    width: 84;
    height: 120px;
}

hr {
    border-color: #A14405;
    width: max-content;
}

@media only screen and (min-width:746px){
    
}
    
@media only screen and (max-width:961px){
    .checkout-success-container {
        margin: 23rem 0 6rem 0;
    }
    .dialog {
        width: 90%;
    }
    .dialog2 {
        width: 90%;
    }
    
}