.checkout-success-container {
    display: flex;
    flex-direction: column;
    color: white;
    width: 95%;
    height: 100%;
    margin: 11rem 2rem;
    align-items: center;
}

.dialog {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 650px;
    background-color: #E4DAD324;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 40px;
    position: relative;
    text-align: center;
    overflow: auto;
}

.dialog2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 400px;
    height:fit-content;
    background-color: #F4F4F462;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 40px;
    position: relative;
}

.dialog2-flex {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
}

.dialog2 img {
    width: 84;
    height: 120px;
}

hr {
    border-color: #A14405;
    width: max-content;
}

@media only screen and (min-width:746px){
    
}
    
@media only screen and (max-width:745px){

}