.checkout-container {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 100%;
    margin: 11rem 0;
    align-items: center;
}

.dialog {
    width: 50%;
    background-color: #E4DAD324;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 40px;
}

.dialog-content {
    display: flex;
    flex-direction: column;
}

h1 {
    align-self: center;
}

.price {
    align-self: self-end;
}

hr {
    border-color: #A14405;
}

.elvis {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
    margin: 2rem 0 2rem 2rem;
}

.elvis img {
    width: 12rem;
}

.title {
    position: absolute;
    bottom: 2px;
    left: 130px;
}

.subtotal {
    text-align: right;
    margin-bottom: 3rem;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.checkout-form a {
    display: flex;
    justify-content: flex-end;
}
  
input[type=button] {
    background-color: #A14405;
    color: white;
    padding: 5px 10px;
    margin: 5px 0;
    font-family: 'raleway', sans-serif;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}



.checkout-empty-container {
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 16rem;
}





h2 {
    font-size: 2rem;
}
    
@media only screen and (max-width:961px){
    .checkout-empty-container {
        margin-top: 23rem 0 6rem 0;
    }
    .checkout-container {
        margin: 23rem 0 6rem 0;
    }
    .dialog {
        width: 90%;
    }
    .elvis {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .price1,
    .subtotal {
        align-self: center;
    }
    .price {
        display: none;
    }
    .title {
        position: initial;
    }
    
}