.home-container {
    color: white;
    display: grid;
    width: 95%;
    min-height: 100%;
    margin: 5rem 0;
}

.home-img img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    width: auto;
}

.grid-container {
    display: grid;
    padding: 0 6rem;
    gap: 1rem;
    width: 90%;
}

.grid-container div {
    overflow: scroll;
}

.video1 {
    display: flex;
    gap: 1em;
}

.video2 {
    display: flex;
    gap: 1em;
}

.spotlight {
    display: grid;
    align-items: center;
    grid-row: 5 / span 2;
    padding: 7rem 0;
    justify-content: space-between;
}

.spotlight img {
    width: 45rem
}

.avatar-text {
    display: grid;
    text-align: center;
    padding-left: 1rem;
    font-size: 2rem;
}

.avatar {
    display: grid;
    grid-column: 2;
}

.video3 {
    display: flex;
    gap: 1em;
}

@media only screen and (max-width:961px) and (min-width:746px){   
    .grid-container {
        width: 90%;
        padding: 0 4rem;
    }
    .home-container {
        margin-top: 16.5rem;
    }
    .spotlight {
        display: flex;
        flex-direction: column;
    }
}
    
@media only screen and (max-width:745px){
    .home-container {
        margin-top: 16.5rem;
    }
    .grid-container {
        padding: 0 2rem;
    }
    .spotlight {
        display: flex;
        flex-direction: column;
    }
    .spotlight img {
        width: 35rem;
    }
}