html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-image: linear-gradient(to right, #a14405, black 40%);
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    background-repeat: no-repeat;
}

header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #29150b;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.results {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.error {
    font-size: x-large;
    font-weight: 900;
    border: 1px solid rgb(0, 0, 0);
    padding: 1rem;
    color: rgb(0, 0, 0);
    background: rgb(197, 83, 1);
    height: fit-content;
}

.loading {
    font-size: x-large;
    font-weight: 900;
    color: rgb(197, 83, 1);
}

.cartAmount {
    position: relative;
    width: 2.8rem;
    height: 2.8rem;
    height: auto;
    overflow: hidden;
}

.count {
    position: absolute;
    top: 8%;
    right: 5%;
    z-index: 2;
    font-size: 1.5rem;
    border-radius: 50%;
    background: #a14405;
    width: 1.6rem;
    height: 1.6rem;
    line-height: 1.6rem;
    display: block;
    text-align: center;
    color: white;
    font-family: "raleway", sans-serif;
    font-weight: bold;
}

/* Hamburger menu */

.hamburger-menu {
    position: relative;
}

.hamburger-menu nav {
    position: absolute;
    background-color: #29150b;
    box-sizing: border-box;
    padding: 2rem 4rem 2rem 2rem;
}

.hamburger-menu nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

.hamburger-menu a {
    display: block;
    padding: 1rem 2rem;
}

.hamburger-icon {
    padding: 2rem 2rem;
    color: white;
    font-size: 2rem;
}

.logo {
    width: 40rem;
}

.profile {
    padding: 0.7rem;
    display: flex;
}

.profile a {
    width: max-content;
}

footer {
    height: 5rem;
    padding: 0 2rem;
    background-color: #302a2643;
    color: white;
    font-size: small;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

body a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.socials a {
    padding: 0.2rem;
    color: white;
    text-decoration: none;
}

.active {
    color: #e8731f;
}

li {
    display: inline-block;
}

ul {
    padding: 0;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

.grow a:hover {
    transform: scale(1.1);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
}

@media only screen and (min-width: 961px) {
    .hamburger-icon,
    .mobile {
        display: none;
    }

    .hamburger-menu nav {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: #29150b00;
        padding: 0;
    }

    .hamburger-menu a {
        padding: 1rem 1rem;
    }
}

@media only screen and (max-width: 960px) {
    header {
        gap: 0;
    }

    .desktop {
        display: none;
    }

    .logo {
        width: fit-content;
    }

    footer {
        height: fit-content;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
    }

    .footer-content {
        flex-direction: column;
        padding-top: 1rem;
    }

    .footer-nav {
        align-items: center;
    }
}
