html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-image: linear-gradient(to right, #A14405, black 25%);
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    background-repeat: no-repeat;
    background-size: cover;
}


header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #29150b;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    width: 40rem;
}

.profile {
    padding: 7px;
}

.profile a {
    width: max-content;
}

footer {
    height: 50px;
    padding: 0 20px;
    background-color: #302a2643;
    color: white;
    font-size: small;
    
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

body a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.socials a {
    padding: 2px;
    color: white;
    text-decoration: none;
}

.active {
    color: #e8731f;
}

li {
    display: inline-block;
}

ul {
    padding: 0;
}

hr {
    margin-left: 0;
    margin-right: 0;
}
.grow:hover{
    transform: scale(1.1);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;}

@media only screen and (min-width:746px){   
}
  
@media only screen and (max-width:961px){ 
    header {
        height: max-content;
        gap: 0;
        } 
    header nav ul {
       display: flex;
       flex-direction:column;
       flex-wrap: nowrap;
       gap: 1rem;
    }  
    .logo {
        width:fit-content;
    }
    .profile {
       display:flex;
       flex-direction: column;
       align-items: center;
    }
    footer {
        height: fit-content;
    }
    .footer-content {
        flex-direction: column;
        padding-top: 1rem;
    }
    .footer-nav {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}