.videos-container {
    color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 100%;
    margin: 10rem 6rem;
    padding-left: 2%;
}

.videos-container div {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    gap: 1em;
}

h1,
h2 {
    padding: 1%;
}

#nmbr {
    height: 10rem;
    width: 10rem;
    padding-top: 5rem;
}

@media only screen and (max-width:745px){ 
    .videos-container {
        margin: 16.5rem 2rem 2rem 2rem;
    }
}