.videos-container {
    color: white;
    display: flex;
    flex-direction: column;
width: 90%;
min-height: 100%;
margin: 10rem 6rem;
padding-left: 2%;
}

.videos-container div {
    display: flex;
    justify-content: left;
    overflow: scroll;
    flex-wrap: nowrap;
}

.videos-container h2 {
    display: flex;
    justify-content: left;
}

.videolist {
    flex-direction: row;
    gap: 1em;
}

#nmbr {
    height: 94px;
    width: 35px;
    padding-top: 40px;
}

@media only screen and (min-width:746px){
}

@media only screen and (max-width:745px){ 
    .videos-container {
        margin: 16.5rem 2rem 2rem 2rem;
    }
}